/*@font-face {
    font-family: 'Avara_Bold';
    src: url('../fonts/Avara-Bold.otf') format('opentype');
            
    font-weight: normal;
    font-style: normal;
}

  background-color: #fff;
    border-bottom: 1px solid black;
    height: 7vh;
    width: 100vw;
    padding-top: .5rem;
    position: fixed;
    top: 0;
    left: 0;
*/

html{
    position:relative; 
    min-height: 100%;
    margin:0;
  padding:0;
  }
footer{
    position: absolute;
    bottom: -440px;
    left: 0;
    right: 0;
    height:100px;
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

*{

    -webkit-font-smoothing:none;
    scroll-behavior: smooth;
    scroll-margin: 80px;

}

#header{
    background-color: white;
    font-size: 9rem; 
    position: fixed;
    top: 0;
    transition: .4s;
    animation-duration: 3s;
    text-align: center;
    width: 100%;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    z-index: +2;
}

.header-two{
    margin-left:auto;
    margin-right:auto;
    top:300px;
    font-family: 'Helvetica' !important;
    line-height: 1.3em;
    font-size: 18pt;
    width: 100%;
    display: inline-flex;
    position: relative;
    background-color: white;
    z-index: +1;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.sticky {
    position: sticky;
    top: 0;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
  
  }
  

section {
    padding-top: .5rem;
    width: 45%;
    margin-left:auto;
    margin-right:auto;
    top:300px;
    font-family: 'Helvetica' !important;
    line-height: 1.3em;
    font-size: 18pt;
    position: relative;
   
}


#footer {
    padding: 50px;
    background-color: #eee;
}

#footer a{
    color: #444;
}

a{
    text-decoration: none;
}
li{
    padding-top: .3rem;
}

@media screen and (max-width: 768px) {
    .col{
        flex: 100%;
    }

    .text-end{
        text-align: left !important;
    }

    .nav-item{
        font-size: 0.66em;
        background: #e7e7e7;
        margin: .3em .2em;
        border-radius: .25rem;
    }

    .nav-link{
        padding: .4em .6em;
        text-transform: uppercase;
    }

    .nav-item:hover{
        background: #0d6efd;
    }

    .nav-item:hover > a{
        color: #fff;
    }
    .intro-section{
        width:100%;
       
    }
    #header{
        background-color: white;
        font-size: 3rem; 
        position: fixed;
        top: 0;
        transition: .4s;
        animation-duration: 3s;
        text-align: center;
        width: 100%;
        line-height: 1;
        font-family: Arial, Helvetica, sans-serif;
        z-index: +2;
    }
    .header-two{
        margin-left:auto;
        margin-right:auto;
        top:88px;
        font-family: 'Helvetica' !important;
        line-height: 1.3em;
        font-size: 18pt;
        width: 100%;
        display: inline-flex;
        position: relative;
        background-color: white;
        z-index: +1;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .sticky {
        position: sticky;
        top: 0;
        display: flex;
        margin-left:auto;
        margin-right:auto;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 55px;
      
      }
    section {
        padding-top: .5rem;
        margin-left:auto;
        margin-right:auto;
        top:83px;
        font-family: 'Helvetica' !important;
        line-height: 1.3em;
        font-size: 18pt;
        position: relative;
        width: 100%;
       
    }
}

#produttori {
    width: 100% !important;
}

p{
    margin-top:unset;
}
.table{
    position: relative;
    columns: 5 200px;
    overflow: scroll;
}
.company{
    text-align: left;
    vertical-align: top;
    border-top: 2px solid black;
    font-size: 1rem !important;
    height: 380px; 
    break-after: column;
 
}

.company p{
    font-size: 1rem !important;
    line-height: 1.2;
}
img{
    padding: 10px;
    padding-bottom: 0;   
}

table{
    border-top: 2px solid black;
    font-size: 1rem;
    line-height: 1.2;
    text-align: left;
}

th, td,tr{
    border-bottom: 2px solid black !important;
    vertical-align: top;
    padding: 0;
}


form{
    border-radius: 0px;
}

form:active{
    border-radius: 0px;
}

input,textarea{
    width: -webkit-fill-available;
    height: 30px;
    border-radius: 0px;
    border:1px solid black;
    font-size: 16pt;
}
textarea{
    height: 65px;
}
#submit{
    color: #ffffff;
    background-color: black;
    font-size: 16pt;
}
::-webkit-input-placeholder { 
    color: rgb(116, 116, 116);
  }